body{
  background-color: black;
  overflow-x: hidden;
}
@font-face {
  font-family: OTF Glusp;
  src: url(../public/OTF®\ Glusp.ttf);
  font-display: block;
}
.otf{
  font-family: OTF Glusp;
}
@font-face {
  font-family: Monumnet;
  src: url(../public/MonumentExtended-Regular.otf);
  font-display: block;
}
.monument-normal{
  font-family: Monumnet;
}
@font-face {
  font-family: Monumnetultra;
  src: url(../public/MonumentExtended-Ultrabold.otf);
  font-display: block;
}
.monument-ultra{
  font-family: Monumnetultra;
}