@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

.rotate {
  animation: rotateAnimation 2s linear infinite; /* 6s duration, linear timing, infinite loop */

}
.v::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 50%;
  display: block;
}
.nav::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 10%;
  display: block;
}

.slider {
  height: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  width: 100%;
  overflow-x: hidden;
}

.slide-track {
  display: flex;



  animation: scroll 2s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-100px);
  }
}
.slide {
  width: 390px;
  height: 100%;

  padding: 15px;
  
}
@media only screen and (max-width: 600px) {
  .v::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    left: 50%;
    display: none;
  }
  .nav::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    left: 50%;
    display: none;
  }
  
}