@tailwind base;
@tailwind components;
@tailwind utilities;

body{
overflow-x: hidden;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

.rotate {
  animation: rotateAnimation 2s linear infinite; /* 6s duration, linear timing, infinite loop */

}
.v::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 50%;
  display: block;
}



.slide-track {
  display: flex;
  gap: 100px;



  animation: scroll 40s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-390px * 6));
  }
}
@media only screen and (max-width: 600px) {
  .v::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    left: 50%;
    display: none;
  }
  
}